@font-face {
    font-family: "AxisSystemIcons-Regular";
    src: url("./AxisSystemIcons-Regular.ttf?1ab47482d4c95e654df06d8c004d4e05") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: AxisSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_axis_acs_camera_20_regular:before {
    content: "\f101";
}
.icon-ic_axis_acs_camera_24_regular:before {
    content: "\f102";
}
.icon-ic_axis_acs_camera_28_regular:before {
    content: "\f103";
}
.icon-ic_axis_acs_camera_32_regular:before {
    content: "\f104";
}
.icon-ic_axis_add_12_regular:before {
    content: "\f105";
}
.icon-ic_axis_add_20_regular:before {
    content: "\f106";
}
.icon-ic_axis_adm_wrench_20_regular:before {
    content: "\f107";
}
.icon-ic_axis_adm_wrench_24_regular:before {
    content: "\f108";
}
.icon-ic_axis_adm_wrench_28_regular:before {
    content: "\f109";
}
.icon-ic_axis_adm_wrench_32_regular:before {
    content: "\f10a";
}
.icon-ic_axis_alf_multiple_16_regular:before {
    content: "\f10b";
}
.icon-ic_axis_alf_multiple_20_regular:before {
    content: "\f10c";
}
.icon-ic_axis_alf_multiple_24_regular:before {
    content: "\f10d";
}
.icon-ic_axis_alf_multiple_28_regular:before {
    content: "\f10e";
}
.icon-ic_axis_alf_multiple_32_regular:before {
    content: "\f10f";
}
.icon-ic_axis_alf_multiple_48_regular:before {
    content: "\f110";
}
.icon-ic_axis_assign_ip_20_regular:before {
    content: "\f111";
}
.icon-ic_axis_assign_ip_24_regular:before {
    content: "\f112";
}
.icon-ic_axis_assign_ip_28_regular:before {
    content: "\f113";
}
.icon-ic_axis_assign_ip_32_regular:before {
    content: "\f114";
}
.icon-ic_axis_body_worn_camera_12_regular:before {
    content: "\f115";
}
.icon-ic_axis_body_worn_camera_16_regular:before {
    content: "\f116";
}
.icon-ic_axis_body_worn_camera_20_regular:before {
    content: "\f117";
}
.icon-ic_axis_body_worn_camera_24_regular:before {
    content: "\f118";
}
.icon-ic_axis_body_worn_camera_28_regular:before {
    content: "\f119";
}
.icon-ic_axis_body_worn_camera_32_regular:before {
    content: "\f11a";
}
.icon-ic_axis_body_worn_camera_48_regular:before {
    content: "\f11b";
}
.icon-ic_axis_body_worn_camera_multiple_16_regular:before {
    content: "\f11c";
}
.icon-ic_axis_body_worn_camera_multiple_20_regular:before {
    content: "\f11d";
}
.icon-ic_axis_body_worn_camera_multiple_24_regular:before {
    content: "\f11e";
}
.icon-ic_axis_body_worn_camera_multiple_28_regular:before {
    content: "\f11f";
}
.icon-ic_axis_body_worn_camera_multiple_32_regular:before {
    content: "\f120";
}
.icon-ic_axis_body_worn_camera_multiple_48_regular:before {
    content: "\f121";
}
.icon-ic_axis_bounding_box_16_regular:before {
    content: "\f122";
}
.icon-ic_axis_bounding_box_20_regular:before {
    content: "\f123";
}
.icon-ic_axis_bounding_box_24_regular:before {
    content: "\f124";
}
.icon-ic_axis_bounding_box_28_regular:before {
    content: "\f125";
}
.icon-ic_axis_bounding_box_32_regular:before {
    content: "\f126";
}
.icon-ic_axis_bounding_box_48_regular:before {
    content: "\f127";
}
.icon-ic_axis_clipboard_alert_16_regular:before {
    content: "\f128";
}
.icon-ic_axis_clipboard_alert_20_regular:before {
    content: "\f129";
}
.icon-ic_axis_clipboard_alert_24_regular:before {
    content: "\f12a";
}
.icon-ic_axis_clipboard_alert_28_regular:before {
    content: "\f12b";
}
.icon-ic_axis_clipboard_alert_32_regular:before {
    content: "\f12c";
}
.icon-ic_axis_devices_20_regular:before {
    content: "\f12d";
}
.icon-ic_axis_devices_24_regular:before {
    content: "\f12e";
}
.icon-ic_axis_devices_28_regular:before {
    content: "\f12f";
}
.icon-ic_axis_devices_32_regular:before {
    content: "\f130";
}
.icon-ic_axis_diamond_2_16_regular:before {
    content: "\f131";
}
.icon-ic_axis_diamond_2_20_regular:before {
    content: "\f132";
}
.icon-ic_axis_diamond_2_24_regular:before {
    content: "\f133";
}
.icon-ic_axis_diamond_2_28_regular:before {
    content: "\f134";
}
.icon-ic_axis_diamond_2_32_regular:before {
    content: "\f135";
}
.icon-ic_axis_diamond_2_48_regular:before {
    content: "\f136";
}
.icon-ic_axis_door_station_16_regular:before {
    content: "\f137";
}
.icon-ic_axis_door_station_20_regular:before {
    content: "\f138";
}
.icon-ic_axis_door_station_24_regular:before {
    content: "\f139";
}
.icon-ic_axis_door_station_28_regular:before {
    content: "\f13a";
}
.icon-ic_axis_door_station_32_regular:before {
    content: "\f13b";
}
.icon-ic_axis_film_strip_edit_20_regular:before {
    content: "\f13c";
}
.icon-ic_axis_film_strip_edit_24_regular:before {
    content: "\f13d";
}
.icon-ic_axis_film_strip_edit_28_regular:before {
    content: "\f13e";
}
.icon-ic_axis_film_strip_edit_32_regular:before {
    content: "\f13f";
}
.icon-ic_axis_film_strip_edit_48_regular:before {
    content: "\f140";
}
.icon-ic_axis_frame_step_back_16_regular:before {
    content: "\f141";
}
.icon-ic_axis_frame_step_back_20_regular:before {
    content: "\f142";
}
.icon-ic_axis_frame_step_back_24_regular:before {
    content: "\f143";
}
.icon-ic_axis_frame_step_back_28_regular:before {
    content: "\f144";
}
.icon-ic_axis_frame_step_back_32_regular:before {
    content: "\f145";
}
.icon-ic_axis_frame_step_back_48_regular:before {
    content: "\f146";
}
.icon-ic_axis_frame_step_forward_16_regular:before {
    content: "\f147";
}
.icon-ic_axis_frame_step_forward_20_regular:before {
    content: "\f148";
}
.icon-ic_axis_frame_step_forward_24_regular:before {
    content: "\f149";
}
.icon-ic_axis_frame_step_forward_28_regular:before {
    content: "\f14a";
}
.icon-ic_axis_frame_step_forward_32_regular:before {
    content: "\f14b";
}
.icon-ic_axis_frame_step_forward_48_regular:before {
    content: "\f14c";
}
.icon-ic_axis_headphones_off_20_regular:before {
    content: "\f14d";
}
.icon-ic_axis_headphones_off_24_regular:before {
    content: "\f14e";
}
.icon-ic_axis_headphones_off_28_regular:before {
    content: "\f14f";
}
.icon-ic_axis_headphones_off_32_regular:before {
    content: "\f150";
}
.icon-ic_axis_headphones_off_48_regular:before {
    content: "\f151";
}
.icon-ic_axis_power_arrow_clockwise_20_regular:before {
    content: "\f152";
}
.icon-ic_axis_power_arrow_clockwise_24_regular:before {
    content: "\f153";
}
.icon-ic_axis_power_arrow_clockwise_28_regular:before {
    content: "\f154";
}
.icon-ic_axis_power_arrow_clockwise_32_regular:before {
    content: "\f155";
}
.icon-ic_axis_smart_search_16_regular:before {
    content: "\f156";
}
.icon-ic_axis_smart_search_20_regular:before {
    content: "\f157";
}
.icon-ic_axis_smart_search_24_regular:before {
    content: "\f158";
}
.icon-ic_axis_smart_search_28_regular:before {
    content: "\f159";
}
.icon-ic_axis_smart_search_32_regular:before {
    content: "\f15a";
}
.icon-ic_axis_smart_search_48_regular:before {
    content: "\f15b";
}
.icon-ic_axis_speedometer_20_regular:before {
    content: "\f15c";
}
.icon-ic_axis_temp_record_16_regular:before {
    content: "\f15d";
}
.icon-ic_axis_temp_record_20_regular:before {
    content: "\f15e";
}
.icon-ic_axis_temp_record_24_regular:before {
    content: "\f15f";
}
.icon-ic_axis_temp_record_28_regular:before {
    content: "\f160";
}
.icon-ic_axis_temp_record_32_regular:before {
    content: "\f161";
}
.icon-ic_axis_temp_record_48_regular:before {
    content: "\f162";
}
.icon-ic_axis_temp_redact_16_regular:before {
    content: "\f163";
}
.icon-ic_axis_temp_redact_20_regular:before {
    content: "\f164";
}
.icon-ic_axis_temp_redact_24_regular:before {
    content: "\f165";
}
.icon-ic_axis_temp_redact_28_regular:before {
    content: "\f166";
}
.icon-ic_axis_temp_redact_32_regular:before {
    content: "\f167";
}
.icon-ic_axis_temp_redact_48_regular:before {
    content: "\f168";
}
.icon-ic_axis_temp_smart_search_16_regular:before {
    content: "\f169";
}
.icon-ic_axis_temp_smart_search_20_regular:before {
    content: "\f16a";
}
.icon-ic_axis_temp_smart_search_24_regular:before {
    content: "\f16b";
}
.icon-ic_axis_temp_smart_search_28_regular:before {
    content: "\f16c";
}
.icon-ic_axis_timeline_markers_20_regular:before {
    content: "\f16d";
}
.icon-ic_axis_timeline_markers_24_regular:before {
    content: "\f16e";
}
.icon-ic_axis_timeline_markers_28_regular:before {
    content: "\f16f";
}
.icon-ic_axis_timeline_markers_32_regular:before {
    content: "\f170";
}
.icon-ic_axis_ufo_12_regular:before {
    content: "\f171";
}
.icon-ic_axis_ufo_16_regular:before {
    content: "\f172";
}
.icon-ic_axis_ufo_20_regular:before {
    content: "\f173";
}
.icon-ic_axis_ufo_24_regular:before {
    content: "\f174";
}
.icon-ic_axis_ufo_28_regular:before {
    content: "\f175";
}
.icon-ic_axis_ufo_32_regular:before {
    content: "\f176";
}
.icon-ic_axis_ufo_48_regular:before {
    content: "\f177";
}
.icon-ic_axis_vehicle_bus_profile_16_regular:before {
    content: "\f178";
}
.icon-ic_axis_vehicle_bus_profile_20_regular:before {
    content: "\f179";
}
.icon-ic_axis_vehicle_bus_profile_24_regular:before {
    content: "\f17a";
}
.icon-ic_axis_vehicle_bus_profile_28_regular:before {
    content: "\f17b";
}
.icon-ic_axis_vehicle_bus_profile_32_regular:before {
    content: "\f17c";
}
.icon-ic_axis_vehicle_bus_profile_48_regular:before {
    content: "\f17d";
}
.icon-ic_axis_vehicle_motorcycle_profile_16_regular:before {
    content: "\f17e";
}
.icon-ic_axis_vehicle_motorcycle_profile_20_regular:before {
    content: "\f17f";
}
.icon-ic_axis_vehicle_motorcycle_profile_24_regular:before {
    content: "\f180";
}
.icon-ic_axis_vehicle_motorcycle_profile_28_regular:before {
    content: "\f181";
}
.icon-ic_axis_vehicle_motorcycle_profile_32_regular:before {
    content: "\f182";
}
.icon-ic_axis_vehicle_motorcycle_profile_48_regular:before {
    content: "\f183";
}
.icon-ic_axis_vehicle_truck_profile_12_regular:before {
    content: "\f184";
}
.icon-ic_axis_vehicle_truck_profile_16_regular:before {
    content: "\f185";
}
.icon-ic_axis_vehicle_truck_profile_20_regular:before {
    content: "\f186";
}
.icon-ic_axis_vehicle_truck_profile_24_regular:before {
    content: "\f187";
}
.icon-ic_axis_vehicle_truck_profile_28_regular:before {
    content: "\f188";
}
.icon-ic_axis_vehicle_truck_profile_32_regular:before {
    content: "\f189";
}
.icon-ic_axis_vehicle_truck_profile_48_regular:before {
    content: "\f18a";
}
.icon-ic_axis_vehicles_12_regular:before {
    content: "\f18b";
}
.icon-ic_axis_vehicles_16_regular:before {
    content: "\f18c";
}
.icon-ic_axis_vehicles_20_regular:before {
    content: "\f18d";
}
.icon-ic_axis_vehicles_24_regular:before {
    content: "\f18e";
}
.icon-ic_axis_vehicles_28_regular:before {
    content: "\f18f";
}
.icon-ic_axis_vehicles_32_regular:before {
    content: "\f190";
}
.icon-ic_axis_vehicles_48_regular:before {
    content: "\f191";
}
.icon-ic_axis_walking_12_regular:before {
    content: "\f192";
}
.icon-ic_axis_walking_16_regular:before {
    content: "\f193";
}
.icon-ic_axis_walking_20_regular:before {
    content: "\f194";
}
.icon-ic_axis_walking_24_regular:before {
    content: "\f195";
}
.icon-ic_axis_walking_28_regular:before {
    content: "\f196";
}
.icon-ic_axis_walking_32_regular:before {
    content: "\f197";
}
.icon-ic_axis_walking_48_regular:before {
    content: "\f198";
}
.icon-ic_axis_ptz_20_regular:before {
    content: "\f199";
}
.icon-ic_axis_ptz_24_regular:before {
    content: "\f19a";
}
.icon-ic_axis_ptz_28_regular:before {
    content: "\f19b";
}
.icon-ic_axis_ptz_32_regular:before {
    content: "\f19c";
}
.icon-ic_axis_ptz_48_regular:before {
    content: "\f19d";
}
.icon-ic_axis_recorder_16_regular:before {
    content: "\f19e";
}
.icon-ic_axis_recorder_20_regular:before {
    content: "\f19f";
}
.icon-ic_axis_recorder_24_regular:before {
    content: "\f1a0";
}
.icon-ic_axis_recorder_28_regular:before {
    content: "\f1a1";
}
.icon-ic_axis_recorder_32_regular:before {
    content: "\f1a2";
}
.icon-ic_axis_recorder_48_regular:before {
    content: "\f1a3";
}
.icon-ic_axis_recordings_20_regular:before {
    content: "\f1a4";
}
.icon-ic_axis_recordings_24_regular:before {
    content: "\f1a5";
}
.icon-ic_axis_recordings_28_regular:before {
    content: "\f1a6";
}
.icon-ic_axis_recordings_32_regular:before {
    content: "\f1a7";
}
.icon-ic_axis_recordings_48_regular:before {
    content: "\f1a8";
}
.icon-ic_axis_resize_12_regular:before {
    content: "\f1a9";
}
.icon-ic_axis_resize_16_regular:before {
    content: "\f1aa";
}
.icon-ic_axis_resize_20_regular:before {
    content: "\f1ab";
}
.icon-ic_axis_resize_24_regular:before {
    content: "\f1ac";
}
.icon-ic_axis_resize_28_regular:before {
    content: "\f1ad";
}
.icon-ic_axis_resize_32_regular:before {
    content: "\f1ae";
}
.icon-ic_axis_resize_48_regular:before {
    content: "\f1af";
}
.icon-ic_axis_keyhole_20_regular:before {
    content: "\f1b0";
}
.icon-ic_axis_keyhole_24_regular:before {
    content: "\f1b1";
}
.icon-ic_axis_keyhole_28_regular:before {
    content: "\f1b2";
}
.icon-ic_axis_keyhole_32_regular:before {
    content: "\f1b3";
}
.icon-ic_axis_installer_device_20_regular:before {
    content: "\f1b4";
}
.icon-ic_axis_installer_device_24_regular:before {
    content: "\f1b5";
}
.icon-ic_axis_installer_device_28_regular:before {
    content: "\f1b6";
}
.icon-ic_axis_installer_device_32_regular:before {
    content: "\f1b7";
}
.icon-ic_axis_installer_device_48_regular:before {
    content: "\f1b8";
}
.icon-ic_axis_navigation_contract_16_regular:before {
    content: "\f1b9";
}
.icon-ic_axis_navigation_contract_20_regular:before {
    content: "\f1ba";
}
.icon-ic_axis_navigation_contract_24_regular:before {
    content: "\f1bb";
}
.icon-ic_axis_navigation_contract_28_regular:before {
    content: "\f1bc";
}
.icon-ic_axis_navigation_contract_32_regular:before {
    content: "\f1bd";
}
.icon-ic_axis_navigation_contract_48_regular:before {
    content: "\f1be";
}
.icon-ic_axis_navigation_expand_16_regular:before {
    content: "\f1bf";
}
.icon-ic_axis_navigation_expand_20_regular:before {
    content: "\f1c0";
}
.icon-ic_axis_navigation_expand_24_regular:before {
    content: "\f1c1";
}
.icon-ic_axis_navigation_expand_28_regular:before {
    content: "\f1c2";
}
.icon-ic_axis_navigation_expand_32_regular:before {
    content: "\f1c3";
}
.icon-ic_axis_navigation_expand_48_regular:before {
    content: "\f1c4";
}
.icon-ic_axis_skip_15_backward_16_regular:before {
    content: "\f1c5";
}
.icon-ic_axis_skip_15_backward_20_regular:before {
    content: "\f1c6";
}
.icon-ic_axis_skip_15_backward_24_regular:before {
    content: "\f1c7";
}
.icon-ic_axis_skip_15_backward_28_regular:before {
    content: "\f1c8";
}
.icon-ic_axis_skip_15_backward_32_regular:before {
    content: "\f1c9";
}
.icon-ic_axis_skip_15_forward_16_regular:before {
    content: "\f1ca";
}
.icon-ic_axis_skip_15_forward_20_regular:before {
    content: "\f1cb";
}
.icon-ic_axis_skip_15_forward_24_regular:before {
    content: "\f1cc";
}
.icon-ic_axis_skip_15_forward_28_regular:before {
    content: "\f1cd";
}
.icon-ic_axis_skip_15_forward_32_regular:before {
    content: "\f1ce";
}
.icon-ic_axis_analytics_20_regular:before {
    content: "\f1cf";
}
.icon-ic_axis_analytics_24_regular:before {
    content: "\f1d0";
}
.icon-ic_axis_analytics_28_regular:before {
    content: "\f1d1";
}
.icon-ic_axis_analytics_32_regular:before {
    content: "\f1d2";
}
.icon-ic_axis_analytics_48_regular:before {
    content: "\f1d3";
}
.icon-ic_axis_devices_48_regular:before {
    content: "\f1d4";
}
.icon-ic_axis_jump_next_20_regular:before {
    content: "\f1d5";
}
.icon-ic_axis_jump_previous_20_regular:before {
    content: "\f1d6";
}
.icon-ic_axis_body_worn_cloud_20_regular:before {
    content: "\f1d7";
}
.icon-ic_axis_body_worn_cloud_24_regular:before {
    content: "\f1d8";
}
.icon-ic_axis_body_worn_cloud_28_regular:before {
    content: "\f1d9";
}
.icon-ic_axis_body_worn_cloud_32_regular:before {
    content: "\f1da";
}
.icon-ic_axis_body_worn_standalone_20_regular:before {
    content: "\f1db";
}
.icon-ic_axis_body_worn_standalone_24_regular:before {
    content: "\f1dc";
}
.icon-ic_axis_body_worn_standalone_28_regular:before {
    content: "\f1dd";
}
.icon-ic_axis_body_worn_standalone_32_regular:before {
    content: "\f1de";
}
.icon-ic_axis_frame_all_20_regular:before {
    content: "\f1df";
}
.icon-ic_axis_settings_checkmark_20_regular:before {
    content: "\f1e0";
}
.icon-ic_axis_settings_checkmark_24_regular:before {
    content: "\f1e1";
}
.icon-ic_axis_10k_split_20_regular:before {
    content: "\f1e2";
}
.icon-ic_axis_10k_split_24_regular:before {
    content: "\f1e3";
}
.icon-ic_axis_10k_split_28_regular:before {
    content: "\f1e4";
}
.icon-ic_axis_bounding_box_dashed_20_regular:before {
    content: "\f1e5";
}
.icon-ic_axis_bounding_box_dashed_24_regular:before {
    content: "\f1e6";
}
.icon-ic_axis_camera_dome_16_regular:before {
    content: "\f1e7";
}
.icon-ic_axis_camera_dome_20_regular:before {
    content: "\f1e8";
}
.icon-ic_axis_camera_dome_24_regular:before {
    content: "\f1e9";
}
.icon-ic_axis_camera_dome_28_regular:before {
    content: "\f1ea";
}
.icon-ic_axis_camera_dome_48_regular:before {
    content: "\f1eb";
}
.icon-ic_axis_camera_dome_desk_position_16_regular:before {
    content: "\f1ec";
}
.icon-ic_axis_camera_dome_desk_position_20_regular:before {
    content: "\f1ed";
}
.icon-ic_axis_camera_dome_desk_position_24_regular:before {
    content: "\f1ee";
}
.icon-ic_axis_camera_dome_desk_position_28_regular:before {
    content: "\f1ef";
}
.icon-ic_axis_camera_dome_desk_position_48_regular:before {
    content: "\f1f0";
}
.icon-ic_axis_camera_dome_wall_position_16_regular:before {
    content: "\f1f1";
}
.icon-ic_axis_camera_dome_wall_position_20_regular:before {
    content: "\f1f2";
}
.icon-ic_axis_camera_dome_wall_position_24_regular:before {
    content: "\f1f3";
}
.icon-ic_axis_camera_dome_wall_position_28_regular:before {
    content: "\f1f4";
}
.icon-ic_axis_camera_dome_wall_position_48_regular:before {
    content: "\f1f5";
}
.icon-ic_axis_circuit_closed_20_regular:before {
    content: "\f1f6";
}
.icon-ic_axis_circuit_closed_24_regular:before {
    content: "\f1f7";
}
.icon-ic_axis_circuit_open_20_regular:before {
    content: "\f1f8";
}
.icon-ic_axis_circuit_open_24_regular:before {
    content: "\f1f9";
}
.icon-ic_axis_compass_16_regular:before {
    content: "\f1fa";
}
.icon-ic_axis_compass_20_regular:before {
    content: "\f1fb";
}
.icon-ic_axis_compass_24_regular:before {
    content: "\f1fc";
}
.icon-ic_axis_compass_28_regular:before {
    content: "\f1fd";
}
.icon-ic_axis_dewarped_corner_left_20_regular:before {
    content: "\f1fe";
}
.icon-ic_axis_dewarped_corner_left_24_regular:before {
    content: "\f1ff";
}
.icon-ic_axis_dewarped_corner_right_20_regular:before {
    content: "\f200";
}
.icon-ic_axis_dewarped_corner_right_24_regular:before {
    content: "\f201";
}
.icon-ic_axis_dewarped_corridor_20_regular:before {
    content: "\f202";
}
.icon-ic_axis_dewarped_corridor_24_regular:before {
    content: "\f203";
}
.icon-ic_axis_dewarped_double_corner_20_regular:before {
    content: "\f204";
}
.icon-ic_axis_dewarped_double_corner_24_regular:before {
    content: "\f205";
}
.icon-ic_axis_dewarped_double_panorama_20_regular:before {
    content: "\f206";
}
.icon-ic_axis_dewarped_double_panorama_24_regular:before {
    content: "\f207";
}
.icon-ic_axis_dewarped_overview_20_regular:before {
    content: "\f208";
}
.icon-ic_axis_dewarped_overview_24_regular:before {
    content: "\f209";
}
.icon-ic_axis_dewarped_panorama_20_regular:before {
    content: "\f20a";
}
.icon-ic_axis_dewarped_panorama_24_regular:before {
    content: "\f20b";
}
.icon-ic_axis_dewarped_quad_view_20_regular:before {
    content: "\f20c";
}
.icon-ic_axis_dewarped_quad_view_24_regular:before {
    content: "\f20d";
}
.icon-ic_axis_dewarped_view_area_20_regular:before {
    content: "\f20e";
}
.icon-ic_axis_dewarped_view_area_24_regular:before {
    content: "\f20f";
}
.icon-ic_axis_fan_20_regular:before {
    content: "\f210";
}
.icon-ic_axis_fan_24_regular:before {
    content: "\f211";
}
.icon-ic_axis_heat_20_regular:before {
    content: "\f212";
}
.icon-ic_axis_heat_24_regular:before {
    content: "\f213";
}
.icon-ic_axis_input_20_regular:before {
    content: "\f214";
}
.icon-ic_axis_input_24_regular:before {
    content: "\f215";
}
.icon-ic_axis_lightbulb_ir_20_regular:before {
    content: "\f216";
}
.icon-ic_axis_lightbulb_ir_24_regular:before {
    content: "\f217";
}
.icon-ic_axis_location_text_20_regular:before {
    content: "\f218";
}
.icon-ic_axis_location_text_24_regular:before {
    content: "\f219";
}
.icon-ic_axis_mqtt_20_regular:before {
    content: "\f21a";
}
.icon-ic_axis_mqtt_24_regular:before {
    content: "\f21b";
}
.icon-ic_axis_network_port_20_regular:before {
    content: "\f21c";
}
.icon-ic_axis_network_port_32_regular:before {
    content: "\f21d";
}
.icon-ic_axis_network_port_64_regular:before {
    content: "\f21e";
}
.icon-ic_axis_network_port_warning_20_regular:before {
    content: "\f21f";
}
.icon-ic_axis_network_port_warning_32_regular:before {
    content: "\f220";
}
.icon-ic_axis_output_20_regular:before {
    content: "\f221";
}
.icon-ic_axis_output_24_regular:before {
    content: "\f222";
}
.icon-ic_axis_scan_auto_focus_20_regular:before {
    content: "\f223";
}
.icon-ic_axis_scan_auto_focus_24_regular:before {
    content: "\f224";
}
.icon-ic_axis_scan_m_20_regular:before {
    content: "\f225";
}
.icon-ic_axis_scan_m_24_regular:before {
    content: "\f226";
}
.icon-ic_axis_sd_card_20_regular:before {
    content: "\f227";
}
.icon-ic_axis_sd_card_24_regular:before {
    content: "\f228";
}
.icon-ic_axis_settings_a_20_regular:before {
    content: "\f229";
}
.icon-ic_axis_settings_a_24_regular:before {
    content: "\f22a";
}
.icon-ic_axis_shape_cone_20_regular:before {
    content: "\f22b";
}
.icon-ic_axis_shape_cone_24_regular:before {
    content: "\f22c";
}
.icon-ic_axis_sip_20_regular:before {
    content: "\f22d";
}
.icon-ic_axis_sip_24_regular:before {
    content: "\f22e";
}
.icon-ic_axis_speed_dry_20_regular:before {
    content: "\f22f";
}
.icon-ic_axis_speed_dry_24_regular:before {
    content: "\f230";
}
.icon-ic_axis_stateful_signal_20_regular:before {
    content: "\f231";
}
.icon-ic_axis_stateful_signal_24_regular:before {
    content: "\f232";
}
.icon-ic_axis_stateless_signal_20_regular:before {
    content: "\f233";
}
.icon-ic_axis_stateless_signal_24_regular:before {
    content: "\f234";
}
.icon-ic_axis_table_off_20_regular:before {
    content: "\f235";
}
.icon-ic_axis_table_off_24_regular:before {
    content: "\f236";
}
.icon-ic_axis_view_area_left_20_regular:before {
    content: "\f237";
}
.icon-ic_axis_view_area_left_24_regular:before {
    content: "\f238";
}
.icon-ic_axis_view_area_right_20_regular:before {
    content: "\f239";
}
.icon-ic_axis_view_area_right_24_regular:before {
    content: "\f23a";
}
.icon-ic_axis_windshield_wiper_20_regular:before {
    content: "\f23b";
}
.icon-ic_axis_windshield_wiper_24_regular:before {
    content: "\f23c";
}
.icon-ic_axis_ten_k_split_20_regular:before {
    content: "\f23d";
}
.icon-ic_axis_ten_k_split_24_regular:before {
    content: "\f23e";
}
.icon-ic_axis_ten_k_split_28_regular:before {
    content: "\f23f";
}
.icon-ic_axis_caret_down_12_regular:before {
    content: "\f240";
}
.icon-ic_axis_caret_down_16_regular:before {
    content: "\f241";
}
.icon-ic_axis_caret_down_20_regular:before {
    content: "\f242";
}
.icon-ic_axis_caret_down_24_regular:before {
    content: "\f243";
}
.icon-ic_axis_caret_down_left_12_regular:before {
    content: "\f244";
}
.icon-ic_axis_caret_down_left_16_regular:before {
    content: "\f245";
}
.icon-ic_axis_caret_down_left_20_regular:before {
    content: "\f246";
}
.icon-ic_axis_caret_down_left_24_regular:before {
    content: "\f247";
}
.icon-ic_axis_caret_down_right_12_regular:before {
    content: "\f248";
}
.icon-ic_axis_caret_down_right_16_regular:before {
    content: "\f249";
}
.icon-ic_axis_caret_down_right_20_regular:before {
    content: "\f24a";
}
.icon-ic_axis_caret_down_right_24_regular:before {
    content: "\f24b";
}
.icon-ic_axis_caret_left_12_regular:before {
    content: "\f24c";
}
.icon-ic_axis_caret_left_16_regular:before {
    content: "\f24d";
}
.icon-ic_axis_caret_left_20_regular:before {
    content: "\f24e";
}
.icon-ic_axis_caret_left_24_regular:before {
    content: "\f24f";
}
.icon-ic_axis_caret_right_12_regular:before {
    content: "\f250";
}
.icon-ic_axis_caret_right_16_regular:before {
    content: "\f251";
}
.icon-ic_axis_caret_right_20_regular:before {
    content: "\f252";
}
.icon-ic_axis_caret_right_24_regular:before {
    content: "\f253";
}
.icon-ic_axis_caret_up_12_regular:before {
    content: "\f254";
}
.icon-ic_axis_caret_up_16_regular:before {
    content: "\f255";
}
.icon-ic_axis_caret_up_20_regular:before {
    content: "\f256";
}
.icon-ic_axis_caret_up_24_regular:before {
    content: "\f257";
}
.icon-ic_axis_caret_up_left_12_regular:before {
    content: "\f258";
}
.icon-ic_axis_caret_up_left_16_regular:before {
    content: "\f259";
}
.icon-ic_axis_caret_up_left_20_regular:before {
    content: "\f25a";
}
.icon-ic_axis_caret_up_left_24_regular:before {
    content: "\f25b";
}
.icon-ic_axis_caret_up_right_12_regular:before {
    content: "\f25c";
}
.icon-ic_axis_caret_up_right_16_regular:before {
    content: "\f25d";
}
.icon-ic_axis_caret_up_right_20_regular:before {
    content: "\f25e";
}
.icon-ic_axis_caret_up_right_24_regular:before {
    content: "\f25f";
}
.icon-ic_axis_network_port_down_20_regular:before {
    content: "\f260";
}
.icon-ic_axis_network_port_down_32_regular:before {
    content: "\f261";
}
.icon-ic_axis_network_port_down_64_regular:before {
    content: "\f262";
}
.icon-ic_axis_network_port_warning_down_20_regular:before {
    content: "\f263";
}
.icon-ic_axis_network_port_warning_down_32_regular:before {
    content: "\f264";
}
.icon-ic_axis_scan_object_add_20_regular:before {
    content: "\f265";
}
.icon-ic_axis_scan_object_add_24_regular:before {
    content: "\f266";
}
.icon-ic_axis_scan_object_remove_20_regular:before {
    content: "\f267";
}
.icon-ic_axis_scan_object_remove_24_regular:before {
    content: "\f268";
}
.icon-ic_axis_autodesk_revit_12_regular:before {
    content: "\f269";
}
.icon-ic_axis_autodesk_revit_16_regular:before {
    content: "\f26a";
}
.icon-ic_axis_autodesk_revit_20_regular:before {
    content: "\f26b";
}
.icon-ic_axis_autodesk_revit_24_regular:before {
    content: "\f26c";
}
.icon-ic_axis_autodesk_revit_28_regular:before {
    content: "\f26d";
}
.icon-ic_axis_autodesk_revit_32_regular:before {
    content: "\f26e";
}
.icon-ic_axis_autodesk_revit_48_regular:before {
    content: "\f26f";
}
.icon-ic_axis_bluebeam_12_regular:before {
    content: "\f270";
}
.icon-ic_axis_bluebeam_16_regular:before {
    content: "\f271";
}
.icon-ic_axis_bluebeam_20_regular:before {
    content: "\f272";
}
.icon-ic_axis_bluebeam_24_regular:before {
    content: "\f273";
}
.icon-ic_axis_bluebeam_28_regular:before {
    content: "\f274";
}
.icon-ic_axis_bluebeam_32_regular:before {
    content: "\f275";
}
.icon-ic_axis_bluebeam_48_regular:before {
    content: "\f276";
}
.icon-ic_axis_image_health_analythics_20_regular:before {
    content: "\f277";
}
.icon-ic_axis_image_health_analythics_24_regular:before {
    content: "\f278";
}
.icon-ic_axis_image_health_analythics_28_regular:before {
    content: "\f279";
}
.icon-ic_axis_image_health_analythics_32_regular:before {
    content: "\f27a";
}
.icon-ic_axis_image_health_analythics_48_regular:before {
    content: "\f27b";
}
.icon-ic_axis_step_file_12_regular:before {
    content: "\f27c";
}
.icon-ic_axis_step_file_16_regular:before {
    content: "\f27d";
}
.icon-ic_axis_step_file_20_regular:before {
    content: "\f27e";
}
.icon-ic_axis_step_file_24_regular:before {
    content: "\f27f";
}
.icon-ic_axis_step_file_28_regular:before {
    content: "\f280";
}
.icon-ic_axis_step_file_32_regular:before {
    content: "\f281";
}
.icon-ic_axis_step_file_48_regular:before {
    content: "\f282";
}
.icon-ic_axis_topology_diagram_12_regular:before {
    content: "\f283";
}
.icon-ic_axis_topology_diagram_16_regular:before {
    content: "\f284";
}
.icon-ic_axis_topology_diagram_20_regular:before {
    content: "\f285";
}
.icon-ic_axis_topology_diagram_24_regular:before {
    content: "\f286";
}
.icon-ic_axis_topology_diagram_28_regular:before {
    content: "\f287";
}
.icon-ic_axis_topology_diagram_32_regular:before {
    content: "\f288";
}
.icon-ic_axis_topology_diagram_48_regular:before {
    content: "\f289";
}
.icon-ic_axis_wrong_way_detection_16_regular:before {
    content: "\f28a";
}
.icon-ic_axis_wrong_way_detection_20_regular:before {
    content: "\f28b";
}
.icon-ic_axis_wrong_way_detection_24_regular:before {
    content: "\f28c";
}
