@font-face {
    font-family: "AxisSystemIcons-Filled";
    src: url("./AxisSystemIcons-Filled.ttf?18caab543453159c98b3ef229021fc5a") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: AxisSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_axis_acs_camera_20_filled:before {
    content: "\f101";
}
.icon-ic_axis_acs_camera_24_filled:before {
    content: "\f102";
}
.icon-ic_axis_acs_camera_28_filled:before {
    content: "\f103";
}
.icon-ic_axis_acs_camera_32_filled:before {
    content: "\f104";
}
.icon-ic_axis_add_12_filled:before {
    content: "\f105";
}
.icon-ic_axis_add_20_filled:before {
    content: "\f106";
}
.icon-ic_axis_adm_wrench_20_filled:before {
    content: "\f107";
}
.icon-ic_axis_adm_wrench_24_filled:before {
    content: "\f108";
}
.icon-ic_axis_adm_wrench_28_filled:before {
    content: "\f109";
}
.icon-ic_axis_adm_wrench_32_filled:before {
    content: "\f10a";
}
.icon-ic_axis_alf_multiple_16_filled:before {
    content: "\f10b";
}
.icon-ic_axis_alf_multiple_20_filled:before {
    content: "\f10c";
}
.icon-ic_axis_alf_multiple_24_filled:before {
    content: "\f10d";
}
.icon-ic_axis_alf_multiple_28_filled:before {
    content: "\f10e";
}
.icon-ic_axis_alf_multiple_32_filled:before {
    content: "\f10f";
}
.icon-ic_axis_alf_multiple_48_filled:before {
    content: "\f110";
}
.icon-ic_axis_assign_ip_20_filled:before {
    content: "\f111";
}
.icon-ic_axis_assign_ip_24_filled:before {
    content: "\f112";
}
.icon-ic_axis_assign_ip_28_filled:before {
    content: "\f113";
}
.icon-ic_axis_assign_ip_32_filled:before {
    content: "\f114";
}
.icon-ic_axis_body_worn_camera_12_filled:before {
    content: "\f115";
}
.icon-ic_axis_body_worn_camera_16_filled:before {
    content: "\f116";
}
.icon-ic_axis_body_worn_camera_20_filled:before {
    content: "\f117";
}
.icon-ic_axis_body_worn_camera_24_filled:before {
    content: "\f118";
}
.icon-ic_axis_body_worn_camera_28_filled:before {
    content: "\f119";
}
.icon-ic_axis_body_worn_camera_32_filled:before {
    content: "\f11a";
}
.icon-ic_axis_body_worn_camera_48_filled:before {
    content: "\f11b";
}
.icon-ic_axis_body_worn_camera_multiple_16_filled:before {
    content: "\f11c";
}
.icon-ic_axis_body_worn_camera_multiple_20_filled:before {
    content: "\f11d";
}
.icon-ic_axis_body_worn_camera_multiple_24_filled:before {
    content: "\f11e";
}
.icon-ic_axis_body_worn_camera_multiple_28_filled:before {
    content: "\f11f";
}
.icon-ic_axis_body_worn_camera_multiple_32_filled:before {
    content: "\f120";
}
.icon-ic_axis_body_worn_camera_multiple_48_filled:before {
    content: "\f121";
}
.icon-ic_axis_bounding_box_16_filled:before {
    content: "\f122";
}
.icon-ic_axis_bounding_box_20_filled:before {
    content: "\f123";
}
.icon-ic_axis_bounding_box_24_filled:before {
    content: "\f124";
}
.icon-ic_axis_bounding_box_28_filled:before {
    content: "\f125";
}
.icon-ic_axis_bounding_box_32_filled:before {
    content: "\f126";
}
.icon-ic_axis_bounding_box_48_filled:before {
    content: "\f127";
}
.icon-ic_axis_clipboard_alert_16_filled:before {
    content: "\f128";
}
.icon-ic_axis_clipboard_alert_20_filled:before {
    content: "\f129";
}
.icon-ic_axis_clipboard_alert_24_filled:before {
    content: "\f12a";
}
.icon-ic_axis_clipboard_alert_28_filled:before {
    content: "\f12b";
}
.icon-ic_axis_clipboard_alert_32_filled:before {
    content: "\f12c";
}
.icon-ic_axis_devices_20_filled:before {
    content: "\f12d";
}
.icon-ic_axis_devices_24_filled:before {
    content: "\f12e";
}
.icon-ic_axis_devices_28_filled:before {
    content: "\f12f";
}
.icon-ic_axis_devices_32_filled:before {
    content: "\f130";
}
.icon-ic_axis_diamond_2_16_filled:before {
    content: "\f131";
}
.icon-ic_axis_diamond_2_20_filled:before {
    content: "\f132";
}
.icon-ic_axis_diamond_2_24_filled:before {
    content: "\f133";
}
.icon-ic_axis_diamond_2_28_filled:before {
    content: "\f134";
}
.icon-ic_axis_diamond_2_32_filled:before {
    content: "\f135";
}
.icon-ic_axis_diamond_2_48_filled:before {
    content: "\f136";
}
.icon-ic_axis_door_station_16_filled:before {
    content: "\f137";
}
.icon-ic_axis_door_station_20_filled:before {
    content: "\f138";
}
.icon-ic_axis_door_station_24_filled:before {
    content: "\f139";
}
.icon-ic_axis_door_station_28_filled:before {
    content: "\f13a";
}
.icon-ic_axis_door_station_32_filled:before {
    content: "\f13b";
}
.icon-ic_axis_film_strip_edit_20_filled:before {
    content: "\f13c";
}
.icon-ic_axis_film_strip_edit_24_filled:before {
    content: "\f13d";
}
.icon-ic_axis_film_strip_edit_28_filled:before {
    content: "\f13e";
}
.icon-ic_axis_film_strip_edit_32_filled:before {
    content: "\f13f";
}
.icon-ic_axis_film_strip_edit_48_filled:before {
    content: "\f140";
}
.icon-ic_axis_frame_step_back_16_filled:before {
    content: "\f141";
}
.icon-ic_axis_frame_step_back_20_filled:before {
    content: "\f142";
}
.icon-ic_axis_frame_step_back_24_filled:before {
    content: "\f143";
}
.icon-ic_axis_frame_step_back_28_filled:before {
    content: "\f144";
}
.icon-ic_axis_frame_step_back_32_filled:before {
    content: "\f145";
}
.icon-ic_axis_frame_step_back_48_filled:before {
    content: "\f146";
}
.icon-ic_axis_frame_step_forward_16_filled:before {
    content: "\f147";
}
.icon-ic_axis_frame_step_forward_20_filled:before {
    content: "\f148";
}
.icon-ic_axis_frame_step_forward_24_filled:before {
    content: "\f149";
}
.icon-ic_axis_frame_step_forward_28_filled:before {
    content: "\f14a";
}
.icon-ic_axis_frame_step_forward_32_filled:before {
    content: "\f14b";
}
.icon-ic_axis_frame_step_forward_48_filled:before {
    content: "\f14c";
}
.icon-ic_axis_headphones_off_20_filled:before {
    content: "\f14d";
}
.icon-ic_axis_headphones_off_24_filled:before {
    content: "\f14e";
}
.icon-ic_axis_headphones_off_28_filled:before {
    content: "\f14f";
}
.icon-ic_axis_headphones_off_32_filled:before {
    content: "\f150";
}
.icon-ic_axis_headphones_off_48_filled:before {
    content: "\f151";
}
.icon-ic_axis_power_arrow_clockwise_20_filled:before {
    content: "\f152";
}
.icon-ic_axis_power_arrow_clockwise_24_filled:before {
    content: "\f153";
}
.icon-ic_axis_power_arrow_clockwise_28_filled:before {
    content: "\f154";
}
.icon-ic_axis_power_arrow_clockwise_32_filled:before {
    content: "\f155";
}
.icon-ic_axis_smart_search_16_filled:before {
    content: "\f156";
}
.icon-ic_axis_smart_search_20_filled:before {
    content: "\f157";
}
.icon-ic_axis_smart_search_24_filled:before {
    content: "\f158";
}
.icon-ic_axis_smart_search_28_filled:before {
    content: "\f159";
}
.icon-ic_axis_smart_search_32_filled:before {
    content: "\f15a";
}
.icon-ic_axis_smart_search_48_filled:before {
    content: "\f15b";
}
.icon-ic_axis_speedometer_20_filled:before {
    content: "\f15c";
}
.icon-ic_axis_timeline_markers_20_filled:before {
    content: "\f15d";
}
.icon-ic_axis_timeline_markers_24_filled:before {
    content: "\f15e";
}
.icon-ic_axis_timeline_markers_28_filled:before {
    content: "\f15f";
}
.icon-ic_axis_timeline_markers_32_filled:before {
    content: "\f160";
}
.icon-ic_axis_ufo_12_filled:before {
    content: "\f161";
}
.icon-ic_axis_ufo_16_filled:before {
    content: "\f162";
}
.icon-ic_axis_ufo_20_filled:before {
    content: "\f163";
}
.icon-ic_axis_ufo_24_filled:before {
    content: "\f164";
}
.icon-ic_axis_ufo_28_filled:before {
    content: "\f165";
}
.icon-ic_axis_ufo_32_filled:before {
    content: "\f166";
}
.icon-ic_axis_ufo_48_filled:before {
    content: "\f167";
}
.icon-ic_axis_vehicle_bus_profile_16_filled:before {
    content: "\f168";
}
.icon-ic_axis_vehicle_bus_profile_20_filled:before {
    content: "\f169";
}
.icon-ic_axis_vehicle_bus_profile_24_filled:before {
    content: "\f16a";
}
.icon-ic_axis_vehicle_bus_profile_28_filled:before {
    content: "\f16b";
}
.icon-ic_axis_vehicle_bus_profile_32_filled:before {
    content: "\f16c";
}
.icon-ic_axis_vehicle_bus_profile_48_filled:before {
    content: "\f16d";
}
.icon-ic_axis_vehicle_motorcycle_profile_16_filled:before {
    content: "\f16e";
}
.icon-ic_axis_vehicle_motorcycle_profile_20_filled:before {
    content: "\f16f";
}
.icon-ic_axis_vehicle_motorcycle_profile_24_filled:before {
    content: "\f170";
}
.icon-ic_axis_vehicle_motorcycle_profile_28_filled:before {
    content: "\f171";
}
.icon-ic_axis_vehicle_motorcycle_profile_32_filled:before {
    content: "\f172";
}
.icon-ic_axis_vehicle_motorcycle_profile_48_filled:before {
    content: "\f173";
}
.icon-ic_axis_vehicle_truck_profile_12_filled:before {
    content: "\f174";
}
.icon-ic_axis_vehicle_truck_profile_16_filled:before {
    content: "\f175";
}
.icon-ic_axis_vehicle_truck_profile_20_filled:before {
    content: "\f176";
}
.icon-ic_axis_vehicle_truck_profile_24_filled:before {
    content: "\f177";
}
.icon-ic_axis_vehicle_truck_profile_28_filled:before {
    content: "\f178";
}
.icon-ic_axis_vehicle_truck_profile_32_filled:before {
    content: "\f179";
}
.icon-ic_axis_vehicle_truck_profile_48_filled:before {
    content: "\f17a";
}
.icon-ic_axis_vehicles_12_filled:before {
    content: "\f17b";
}
.icon-ic_axis_vehicles_16_filled:before {
    content: "\f17c";
}
.icon-ic_axis_vehicles_20_filled:before {
    content: "\f17d";
}
.icon-ic_axis_vehicles_24_filled:before {
    content: "\f17e";
}
.icon-ic_axis_vehicles_28_filled:before {
    content: "\f17f";
}
.icon-ic_axis_vehicles_32_filled:before {
    content: "\f180";
}
.icon-ic_axis_vehicles_48_filled:before {
    content: "\f181";
}
.icon-ic_axis_walking_12_filled:before {
    content: "\f182";
}
.icon-ic_axis_walking_16_filled:before {
    content: "\f183";
}
.icon-ic_axis_walking_20_filled:before {
    content: "\f184";
}
.icon-ic_axis_walking_24_filled:before {
    content: "\f185";
}
.icon-ic_axis_walking_28_filled:before {
    content: "\f186";
}
.icon-ic_axis_walking_32_filled:before {
    content: "\f187";
}
.icon-ic_axis_walking_48_filled:before {
    content: "\f188";
}
.icon-ic_axis_ptz_20_filled:before {
    content: "\f189";
}
.icon-ic_axis_ptz_24_filled:before {
    content: "\f18a";
}
.icon-ic_axis_ptz_28_filled:before {
    content: "\f18b";
}
.icon-ic_axis_ptz_32_filled:before {
    content: "\f18c";
}
.icon-ic_axis_ptz_48_filled:before {
    content: "\f18d";
}
.icon-ic_axis_recorder_16_filled:before {
    content: "\f18e";
}
.icon-ic_axis_recorder_20_filled:before {
    content: "\f18f";
}
.icon-ic_axis_recorder_24_filled:before {
    content: "\f190";
}
.icon-ic_axis_recorder_28_filled:before {
    content: "\f191";
}
.icon-ic_axis_recorder_32_filled:before {
    content: "\f192";
}
.icon-ic_axis_recorder_48_filled:before {
    content: "\f193";
}
.icon-ic_axis_recordings_20_filled:before {
    content: "\f194";
}
.icon-ic_axis_recordings_24_filled:before {
    content: "\f195";
}
.icon-ic_axis_recordings_28_filled:before {
    content: "\f196";
}
.icon-ic_axis_recordings_32_filled:before {
    content: "\f197";
}
.icon-ic_axis_recordings_48_filled:before {
    content: "\f198";
}
.icon-ic_axis_resize_12_filled:before {
    content: "\f199";
}
.icon-ic_axis_resize_16_filled:before {
    content: "\f19a";
}
.icon-ic_axis_resize_20_filled:before {
    content: "\f19b";
}
.icon-ic_axis_resize_24_filled:before {
    content: "\f19c";
}
.icon-ic_axis_resize_28_filled:before {
    content: "\f19d";
}
.icon-ic_axis_resize_32_filled:before {
    content: "\f19e";
}
.icon-ic_axis_resize_48_filled:before {
    content: "\f19f";
}
.icon-ic_axis_keyhole_20_filled:before {
    content: "\f1a0";
}
.icon-ic_axis_keyhole_24_filled:before {
    content: "\f1a1";
}
.icon-ic_axis_keyhole_28_filled:before {
    content: "\f1a2";
}
.icon-ic_axis_keyhole_32_filled:before {
    content: "\f1a3";
}
.icon-ic_axis_installer_device_20_filled:before {
    content: "\f1a4";
}
.icon-ic_axis_installer_device_24_filled:before {
    content: "\f1a5";
}
.icon-ic_axis_installer_device_28_filled:before {
    content: "\f1a6";
}
.icon-ic_axis_installer_device_32_filled:before {
    content: "\f1a7";
}
.icon-ic_axis_installer_device_48_filled:before {
    content: "\f1a8";
}
.icon-ic_axis_navigation_contract_16_filled:before {
    content: "\f1a9";
}
.icon-ic_axis_navigation_contract_20_filled:before {
    content: "\f1aa";
}
.icon-ic_axis_navigation_contract_24_filled:before {
    content: "\f1ab";
}
.icon-ic_axis_navigation_contract_28_filled:before {
    content: "\f1ac";
}
.icon-ic_axis_navigation_contract_32_filled:before {
    content: "\f1ad";
}
.icon-ic_axis_navigation_contract_48_filled:before {
    content: "\f1ae";
}
.icon-ic_axis_navigation_expand_16_filled:before {
    content: "\f1af";
}
.icon-ic_axis_navigation_expand_20_filled:before {
    content: "\f1b0";
}
.icon-ic_axis_navigation_expand_24_filled:before {
    content: "\f1b1";
}
.icon-ic_axis_navigation_expand_28_filled:before {
    content: "\f1b2";
}
.icon-ic_axis_navigation_expand_32_filled:before {
    content: "\f1b3";
}
.icon-ic_axis_navigation_expand_48_filled:before {
    content: "\f1b4";
}
.icon-ic_axis_skip_15_backward_16_filled:before {
    content: "\f1b5";
}
.icon-ic_axis_skip_15_backward_20_filled:before {
    content: "\f1b6";
}
.icon-ic_axis_skip_15_backward_24_filled:before {
    content: "\f1b7";
}
.icon-ic_axis_skip_15_backward_28_filled:before {
    content: "\f1b8";
}
.icon-ic_axis_skip_15_backward_32_filled:before {
    content: "\f1b9";
}
.icon-ic_axis_skip_15_forward_16_filled:before {
    content: "\f1ba";
}
.icon-ic_axis_skip_15_forward_20_filled:before {
    content: "\f1bb";
}
.icon-ic_axis_skip_15_forward_24_filled:before {
    content: "\f1bc";
}
.icon-ic_axis_skip_15_forward_28_filled:before {
    content: "\f1bd";
}
.icon-ic_axis_skip_15_forward_32_filled:before {
    content: "\f1be";
}
.icon-ic_axis_analytics_20_filled:before {
    content: "\f1bf";
}
.icon-ic_axis_analytics_24_filled:before {
    content: "\f1c0";
}
.icon-ic_axis_analytics_28_filled:before {
    content: "\f1c1";
}
.icon-ic_axis_analytics_32_filled:before {
    content: "\f1c2";
}
.icon-ic_axis_analytics_48_filled:before {
    content: "\f1c3";
}
